@import './../../styles/dependencies.scss';

.profile {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background-image: url('./../../assets/images/background.jpg');
  justify-content: center;
  display: flex;
  overflow: auto;

  &__glassPanel,
  .glassPanel {
    width: 95%;
    height: 230vh;
    background-color: $semiTransparentWhite;
    backdrop-filter: blur(7px);
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;

    &__content,
    .content {
      height: 100%;
      width: 100%;
      margin-top: 110px;

      @include forTabletAndDesktop {
        margin-top: 520px;
      }
    }
  }
}
