@import "./../../styles/colors.scss";

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: contain;
  background-image: url("./../../assets/images/background.jpg");
  justify-content: center;
  display: flex;
  overflow: auto;
}
.glassPanel {
  width: 95%;
  height: 230vh;
  background-color: $semiTransparentWhite;
  backdrop-filter: blur(7px);
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}
