$white: rgba(255, 255, 255);
$black: rgba(0, 0, 0);
$semiTransparentWhite: rgba(252, 250, 253, 0.836);
$pink: rgb(253, 183, 229);
$pinkDark: rgb(173, 26, 122);
$violet: rgb(221, 187, 255);
$violetDark: rgb(129, 61, 197);
