@import "./../../styles/dependencies.scss";

.header {
  height: 500px;
  width: 100%;
  position: absolute;
  background-color: $white;
  justify-content: center;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  z-index: 1;
  transition: all 0.6s ease-in-out;
  @include forPhoneOnly {
    height: 480px;
    position: fixed;
  }
}

.header__imageContainer {
  height: 100%;
  overflow: visible;
  @include forPhoneOnly {
    overflow: hidden;
    background-color: $white;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
  }

  display: flex;

  > .header__image {
    height: auto;
    z-index: 2;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("./../../assets/images/profile-image.png");
    border-bottom-right-radius: 13px;
    transition: all 0.5s ease-in-out;
    background-position: 100% 50%, 100% 50%, 100% 50%;
    @include forTabletAndDesktop {
      height: 500px;
      z-index: 3;
    }
    @include forPhoneOnly {
      background-position: 100% 30%, 100% 50%, 100% 50%;
    }
  }

  > .header__element {
    background-position: 85% 50%, 100% 50%, 100% 50%;
    @include forPhoneOnly {
      display: none;
    }
    position: absolute;
    @include forTabletAndDesktop {
      top: -90px;
    }
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("./../../assets/images/header-element.png");
    z-index: 1;
    transition: all 0.5s ease-in-out;
    &:hover {
      transition: 0s;
      + .header__image {
        transition: 0s;
      }
    }
  }
}

.header__infoContainer {
  height: 100%;
  @include forPhoneOnly {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  @include forTabletAndDesktop {
    z-index: 4;
  }
  justify-content: center;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.header__textContainer {
  @include forPhoneOnly {
    position: absolute;
    max-width: 60%;
    left: 0;
    bottom: 8%;
    color: $pink;
  }
  @include forTabletAndDesktop {
    padding-bottom: 100px;
  }
  max-width: 60%;
  color: $black;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  > .header__subtitle {
    font-size: 20px;
    @include forPhoneOnly {
      color: $white;
    }
  }
  > .header__title {
    font-size: 90px;
    margin: 0;
    @include forPhoneOnly {
      line-height: 45px;
      color: $white;
      font-size: 60px;
      margin-bottom: 15px;
    }
  }
}
.headerBackContainer {
  position: fixed;
  background-color: white;
  top: 480px;
  height: 0;
  width: 100%;
  z-index: 3;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-left-radius: 13px;
  transition: top 0.6s ease-in-out, height 0.6s ease-in-out;
}
.isActive {
  top: 0;
  background-color: white;
  height: 100px;
  transition: top 0.6s ease-in-out, height 0.5s ease-in-out;
}
