@import './../../styles/dependencies.scss';

.header {
  height: 500px;
  width: 100%;
  position: absolute;
  background-color: $white;
  justify-content: center;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  z-index: 1;
  transition: all 0.6s ease-in-out;

  @include forPhoneOnly {
    height: 480px;
    position: fixed;
  }

  &__icon {
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 30px;
  }

  &__textWrapper {
    height: 100%;
    justify-content: center;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 3;

    @include forPhoneOnly {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    @include forTabletAndDesktop {
      z-index: 4;
    }

    &__text {
      max-width: 60%;
      color: $black;
      margin-left: 5%;
      display: flex;
      flex-direction: column;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;

      &__row {
        display: 'flex';
        flex-direction: row;
        width: 100%;

        // margin-top: 20px;
        // position: 'absolute';
      }

      @include forPhoneOnly {
        position: absolute;
        max-width: 60%;
        left: 0;
        bottom: 8%;
        color: $pink;
      }

      @include forTabletAndDesktop {
        padding-bottom: 100px;
      }

      &__subtitle {
        font-size: 20px;
        display: 'flex';
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        line-height: 30px;
        @include forPhoneOnly {
          color: $white;
        }
      }

      &__title {
        font-size: 90px;
        margin: 0;

        @include forPhoneOnly {
          line-height: 45px;
          color: $white;
          font-size: 60px;
          margin-bottom: 15px;
        }
      }
    }
  }

  &__imageWrapper {
    height: 100%;
    overflow: visible;
    display: flex;

    @include forPhoneOnly {
      overflow: hidden;
      background-color: $white;
      border-bottom-right-radius: 13px;
      border-bottom-left-radius: 13px;
    }

    &__image {
      height: auto;
      z-index: 2;
      width: 100%;
      background-repeat: no-repeat;
      background-image: url('./../../assets/images/profile-image.png');
      border-bottom-right-radius: 13px;
      transition: all 0.5s ease-in-out;
      background-position: 100% 50%, 100% 50%, 100% 50%;

      @include forTabletAndDesktop {
        height: 500px;
        z-index: 3;
      }
      @include forPhoneOnly {
        background-position: 100% 30%, 100% 50%, 100% 50%;
      }
    }

    &__element {
      background-position: 85% 50%, 100% 50%, 100% 50%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      position: absolute;
      background-image: url('./../../assets/images/header-element.png');
      z-index: 1;
      transition: all 0.5s ease-in-out;

      @include forPhoneOnly {
        display: none;
      }

      @include forTabletAndDesktop {
        top: -90px;
      }

      &:hover & {
        transition: 0s;
        + &__image {
          transition: 0s;
        }
      }
    }
  }

  &__backContainer {
    position: fixed;
    background-color: white;
    top: 480px;
    height: 0;
    width: 100%;
    z-index: 3;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-left-radius: 13px;
    transition: top 0.6s ease-in-out, height 0.6s ease-in-out;
    &_active {
      top: 0;
      background-color: white;
      height: 100px;
      transition: top 0.6s ease-in-out, height 0.5s ease-in-out;
    }
  }
}
