@import "./../../styles/colors.scss";
@import "./../../styles/animations.scss";
.navbar {
  width: 100%;
  height: 20%;
  display: flex;
  gap: 2%;
  overflow: visible;
}

.navbarItem {
  display: flex;
  background-color: $semiTransparentWhite;
  border-radius: 35px;
  justify-content: center;
  align-items: center;
  width: 100%;
  &:not(:hover) {
    > .navbarItem__textContainer {
      animation: 0.3s ease-in-out forwards shrink;
      > .navbarItem__text {
        animation: 0.3s ease-in-out forwards fadeOut;
      }
    }
  }

  &:hover {
    > .navbarItem__textContainer {
      pointer-events: none;
      padding-left: 10px;
      margin-right: 20px;
      animation: 0.3s ease-in-out forwards widen;
      > .navbarItem__text {
        animation: 0.3s ease-in-out forwards fadeIn;
      }
    }
    > .navbarItem__icon {
      margin-left: 30px;
    }
  }
}

.navbarItem__icon {
  transition: all 0.3s ease-in-out;
  height: 40%;
  width: 100%;
}

.navbarItem__textContainer {
  padding-left: 0px;
  width: 0%;
  pointer-events: none;
  height: 100%;
  margin-right: 0px;
  align-items: center;
  text-align: center;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.3s ease-in-out;
}

.navbarItem__text {
  transition: all 0.6s ease-in-out;
  overflow: hidden;
  display: inline-block;
  opacity: 0;
}
