@import './../../styles/dependencies.scss';

.navbar {
  @include forTabletAndDesktop {
    position: absolute;
    height: 20%;
    bottom: 0;
    overflow: hidden;
    background-color: transparent;
    border-bottom-left-radius: 13px;
  }
  @include forPhoneOnly {
    position: absolute;
    top: 0;
    right: 0;
    align-items: flex-end;
    justify-items: right;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
  }
  min-width: 100%;
  border-bottom-right-radius: 13px;
  display: flex;
}

.navbarItem {
  @include forPhoneOnly {
    column-gap: 8%;
    height: 100%;
    padding-left: 2%;
    justify-content: flex-start;
    padding-right: 4%;
    max-width: 130px;
    background-color: $semiTransparentWhite;
  }
  @include forTabletAndDesktop {
    z-index: 4;
    background: linear-gradient(transparent, $semiTransparentWhite);
  }
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    > .navbarItem__textContainer {
      > .navbarItem__text {
        color: $pinkDark;
      }
    }
  }

  @include forTabletAndDesktop {
    &:first-of-type {
      &:hover {
        border-bottom-left-radius: 13px;
      }
    }
    &:last-of-type {
      &:hover {
        border-bottom-right-radius: 13px;
      }
    }
    justify-content: center;
    &:not(:hover) {
      min-width: 100px;
      > .navbarItem__textContainer {
        animation: 0.3s ease-in-out forwards shrink;
        > .navbarItem__text {
          animation: 0.3s ease-in-out forwards fadeOut;
        }
      }
    }
    &:hover {
      margin-left: auto;
      margin-right: auto;
      > .navbarItem__textContainer {
        pointer-events: none;
        padding-left: 10px;
        margin-right: 25%;
        animation: 0.3s ease-in-out forwards widen;
        > .navbarItem__text {
          animation: 0.3s ease-in-out forwards fadeIn;
        }
      }

      > .navbarItem__icon {
        margin-left: 28%;
      }
    }
  }
}

.navbarItem__icon {
  transition: all 0.3s ease-in-out;
  height: 40%;
  width: 50%;
  @include forPhoneOnly {
    width: auto;
    height: 30%;
  }
}

.navbarItem__textContainer {
  padding-left: 0px;
  pointer-events: none;
  height: 100%;
  margin-right: 0px;
  align-items: center;
  text-align: center;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  @include forTabletAndDesktop {
    transition: all 0.3s ease-in-out;
    width: 0%;
  }
  @include forPhoneOnly {
    width: max-content;
    justify-content: flex-start;
  }
}

.navbarItem__text {
  @include forTabletAndDesktop {
    transition: all 0.6s ease-in-out;
    font-weight: bold;
  }
  overflow: hidden;
  display: inline-block;
  opacity: 0;
  color: $black;
  font-weight: bold;

  @include forPhoneOnly {
    opacity: 1;
    font-size: 14px;
  }
}

.navbarItem__line_active {
  transition: all 0.6s ease-in-out;
  position: absolute;
  background-color: $pinkDark;
  border-radius: 13px;
  z-index: 4;
  @include forTabletAndDesktop {
    height: 5px;
    width: calc(100% / 6.2);
    bottom: 0;
  }
  @include forPhoneOnly {
    width: 5px;
    height: calc(100% / 6);
    right: 128px;
  }
}
