@import './../../styles/dependencies.scss';
.section {
  // height: 100%;
  // top: 50px;
  // width: 95%;
  // position: absolute;
  &__title {
    background-color: $white;
    width: 100%;
    line-height: 100px;
    font-size: 56px;
    padding-left: 10%;
    color: rgb(51, 43, 51);
  }
}
